body {
  margin: 0;
  font-family: Arial;
  background: #0f0f13;
  color: white;
}

.topbar {
  padding: 20px;
  background: #141414;
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 30px;
}

.chat-box {
  max-width: 500px;
  margin: auto;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  background: #111;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.msg {
  margin: 5px 0;
  padding: 8px;
  border-radius: 8px;
}

.user {
  background: #e50914;
  text-align: right;
}

.bot {
  background: #333;
}

.chat-input-area {
  display: flex;
  gap: 10px;
}

.chat-input-area input {
  flex: 1;
  padding: 10px;
}

.chat-input-area button {
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
